@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  /* --secondary: #2b3452; */
}

header {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 250px;
  justify-content: space-around;
  gap: 20px; */
}

img.poster {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   background-color: none;
}

h2 {
  font-size: 0.rem;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 2000px;
  margin-bottom: 10px;
  margin-right: auto;
}

.SnF {
  margin-bottom: 40px;
}

.logo {
  font-size: 2.5rem;
}

/* .changeB {
  position: relative;
  left: 1150px;
  top: 0px;
} */

.imgAsLink {
  display: inline-block;
}

.disabledBtn {
  opacity: 0.5
}

.inlineP {
  display: inline-block;
  width: 75vh;
  margin-top: 2px;
}

.warning {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}